<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Almundo</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body ng-controller="Ctrl">
    <div class="header-style">
        <img src="../assets/images/logo-almundo.svg" alt="">
    </div>
    <div class="body-container">
        <div class="row">
            <div class="col-md-4">
                <div class="row style-field padding-left-10">
                    <h3>Filtros</h3>
                </div>
                <div class="row style-field padding-10">
                    <div class="col-md-1 hidden-xs">
                        <span class="glyphicon glyphicon-search blue" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-9 col-xs-10">
                        <span class="blue bold">Nombre del Hotel</h3>
                    </div>                    
                    <div class="col-md-1 col-xs-1">
                        <span class="glyphicon glyphicon-chevron-up blue mouse-pointer" ng-click="showAndHideFilter(showFilter)"
                         ng-show="showFilter" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-chevron-down blue mouse-pointer" ng-click="showAndHideFilter(showFilter)"
                         ng-hide="showFilter" aria-hidden="true"></span>
                    </div>
                    <div class="row style-field padding-10 margin-top-35" ng-show="showFilter">
                        <div class="col-md-12">
                            <input type="text" class="width-100" ng-model="searchHotel" placeholder="Ingrese el nombre del hotel">
                        </div>
                    </div>                        
                </div>
                <div class="row style-field padding-10">
                    <div class="col-md-1 col-xs-1">
                        <span class="glyphicon glyphicon-star blue" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-9 col-xs-9">
                        <span class="blue bold">Estrellas</h3>
                    </div>                    
                    <div class="col-md-1 col-xs-1">
                        <span class="glyphicon glyphicon-chevron-up blue mouse-pointer" ng-click="showStars(showStar)" 
                        ng-show="showStar" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-chevron-down blue mouse-pointer" ng-click="showStars(showStar)" 
                        ng-hide="showStar" aria-hidden="true"></span>
                    </div>
                    <div class="row margin-left-15" ng-show="showStar">
                        <div><input type="checkbox" ng-checked="true"></div>
                        <div><span class="bold">Todas las estrellas</span></div>
                    </div>
                    <div class="row margin-left-15" ng-show="showStar">
                        <input type="checkbox">
                        <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                    </div>     
                    <div class="row margin-left-15" ng-show="showStar">
                        <input type="checkbox">
                        <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                    </div> 
                    <div class="row margin-left-15" ng-show="showStar">
                        <input type="checkbox">
                        <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                    </div> 
                    <div class="row margin-left-15" ng-show="showStar">
                        <input type="checkbox">
                        <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                    </div>
                    <div class="row margin-left-15" ng-show="showStar">
                        <input type="checkbox">
                        <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                    </div>                                
                </div>
            </div>
            <div class="col-md-8">
                <div class="row style-hotels" ng-repeat="hotel in hotelList | filter:searchHotel">
                    <div class="col-md-5" style="width: 35%;">
                        <img src="{{hotel.image}}" alt="{{hotel.name}}" width="250" height="190">
                    </div>
                    <div class="col-md-3">
                        <div class="row blue bold">{{hotel.name}}</div>
                        <div class="row">
                            <!--stars 1-->
                            <div ng-show="{{hotel.stars == 1}}">
                                <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                            </div>
                            <!--stars 2-->
                            <div ng-show="{{hotel.stars == 2}}">
                                <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                            </div> 
                            <!--stars 3-->
                            <div ng-show="{{hotel.stars == 3}}">
                                <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                            </div>
                            <!--stars 4-->
                            <div ng-show="{{hotel.stars == 4}}">
                                <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                            </div>
                            <!--stars 5-->
                            <div ng-show="{{hotel.stars == 5}}">
                                <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star yellow" aria-hidden="true"></span>
                            </div>                                                                                               
                        </div>
                        <div class="row" ng-repeat="icon in hotel.amenities">
                            <div class="col-md-1 item">
                                <img src="{{icon}}" class="icon" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 name-price">
                        <div class="row price-room text-center" style="padding: 0 60px; margin: 20px 0;">
                            <span>Precio por noche por habitación</span>
                        </div>
                        <div class="row text-center" style="margin: 20px 0;">
                            <span class="price">ARS</span>
                            <span class="price bold">{{hotel.price}}</span>
                        </div>
                        <div class="row text-center" style="margin: 20px 0;">
                            <span class="show-hotel">Ver hotel</span>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="../services/hotel-service.js"></script>
    <script src="../mocks/mock.js"></script>
    <script src="../data/data.js"></script>
    <script src="app.js"></script>
</body>
</html>